@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');



.gradient-text{
    background: linear-gradient(to right,#2563eb,#621de1, #2563eb,#ec1947,#b31de1, #2563eb,#ec1947,#b31de1);
    background-size: 300% 300%;
    background-clip: text;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.focused {
  transition: opacity 3s ease-in-out;
  outline: 3px solid #9333ea;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.fade-in {
  animation: fadeIn 0s ease-in-out;
}

.history-panel {
  position: fixed;
  right: -350px; /* Start off-screen */
  transition: right 0.1s ease-in-out;
}
.history-panel.open {
  right: 0; 
}

.history-scrollbar{
  scrollbar-width: 3px;
  scroll-behavior: smooth;
  scrollbar-gutter: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bn-container[data-theming-css-variables-demo][data-color-scheme="dark"]{
  --bn-colors-editor-text: #ffffff;
  --bn-colors-editor-background: #0a0a0a;
  --bn-colors-side-menu: #787878;
  font-family: "DM Sans", sans-serif;
  z-index: 9999999999;

}


@keyframes fadeIn {
  0% {
      opacity: 0;
      
  }
  50% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
      
  }
}

.node-enter-animation {
  animation: fadeIn 0.3s ease-out forwards;
}


.blur-background {
  filter: blur(4px);
}

.toc-container > div:first-of-type {
   font-size: 1.2rem;
   font-weight: bold;
}


